body{
  background-color:grey;
}
.card{
  width:200px;
  height:300px;
  border:1.5px solid black;
  background:white;
  display:flex;
  justify-content:space-between;
  border-radius:10px;
  padding:10px;
  font-size:30px;
}
#playing-cards{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  margin-top:40px;
}
.left{
  align-self:flex-start;
}
.middle{
  align-self:center;
  display:flex;
  flex-direction:column;
}
.right{
  align-self:flex-end;
  
}