#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #15314b;
  border: 4px solid #f4d35e;
  margin: 60px auto;
}

#house > div {
  position: absolute;
}

#roof {
  top: 0;
  left: 0;
  width: 500px;
  height: 90px;
  background-color: #b5651d;
  border: 3px solid #8b4513;
}

#chimney {
  width: 70px;
  height: 110px;
  background-color: #773344;
  border: 3px solid #4a1f2b;
  top: -110px;      
  left: 60px;
  z-index: -1;
}

#window-1,
#window-2 {
  width: 90px;
  height: 90px;
  background-color: #e0f7ff;
  border: 3px solid #f4d35e;
}

#window-1 {
  top: 150px;
  left: 70px;
}

#window-2 {
  top: 150px;
  right: 70px;
}

#door {
  width: 120px;
  height: 150px;
  background-color: #804000;
  border: 3px solid #3d1f00;
  bottom: 0;               
  left: 50%;               
  transform: translateX(-50%);
}
