
.form-container {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
}

label {
  display: block;
  color: #333;
  margin: 10px 0 5px 0;
}

input,
textarea {
  width: 80%;
  padding: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #0077ff;
  font-size: 1.1rem;
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #005bcc;
}

