.blog-post-card{
  background-color:white;
  border-radius:20px;
  width:300px;
  text-align:center;
}
.post-img{
  width:100%;
  display: block;
  border-bottom: 2px solid #ccc;
}
.post-content{
  padding:20px;
}
.post-title,.post-excerpt{
color:brown;
margin:10px 0;
}
.read-more{
  color:white;
  background-color:black;
  margin:10px 0;
  padding:5px 10px;
  border-radius:5px;
  display:inline-block;
}
.read-more:hover{
  background-color:grey;
}