body{
  background-color:#f4f4f4;
}
.color-box{
  width:100px;
  height:100px;
}
.color1{
  background-color:#ff0000
}
.color2{
  background-color:rgb(0,255,0)
}
.color3{
  background-color:yellow
}
.color4{
  background-color:hsl(0,100%,10%)
}
.color5{
  background-color:brown
}
.color-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}